#map {
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
}

.bottom_page {
    position: fixed;
    bottom: 0;
}

.logo {
    height: 75px;
    margin: 25px;
}

.titre {
    font-size: 75px;
}